// 头部导航
.el-menu
    .el-menu-item
        background-color transparent !important
        &:hover
            color #fff !important
            font-weight 700
            background transparent !important
    .is-active
        font-weight 700
// 重置一些table样式
.table-wrap
    .el-table .cell,
    .el-table td div
        text-align center